!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Доброї пори дня, #{@username}
    %p
      Зараз менеджер уточнює потрібні Вам місця на рейсі.
      %br/
    %p
      Дуже скоро він зв'яжеться з вами.
    %p Дякуємо за те що користуєтесь нашим сервісом!