.page-header
  %h2 Переваги роботи з нашою онлайн-системою:
%ol 
  %li вибір з більш ніж 1000 чартерних автобусних рейсів від провідних операторів напрямку;
  %li детальна інформація про маршрут, хронометраж часу та місце посадки/висадки туристів;
  %li замовлення рейсів без відвідання турфірми, не залишаючи робочого місця;
  %li операторські ціни на квитки;
  %li додаткові знижки за замовлення 5 та більше квитків через систему. Особливі умови бронюванні для великих груп, творчих колективів, спортивних організацій тощо;
  %li отримання відповіді про наявність місць на e-mail чи телефоном по зробленому запиту впродовж однієї години;
  %li консультація менеджера;
  %li гнучка форма оплати: готівка, безготівковий перерахунок;
  %li можливість відкриття візи під заброньований проїзд (для напрямку – Болгарія);
  %li можливість вибору оптимального за ціною чи датами туру з декількох доступних.

%p Відтепер, для того, щоб забронювати автобусний проїзд на курорти Болгарії, України, Хорватії чи Чорногорії не потрібно оббивати пороги десятків туристичних фірм та робити сотні телефонних дзвінків! Достатньо скористатися нашим сервісом для онлайн-замовлень!
%p Ви можете обрати виїзд із більшості великих міст Західного регіону України: на Болгарію: Львів, Івано-Франківськ, Рівне, Хмельницький, Чернівці, Кам’янець-Подільський, Дубно, Стрий, Рогатин, Коломия та ін.
%p Таким чином, навіть якщо маршрут чартеру не пролягає через Ваше місто, Ви можете підібрати населений пункт, до якого якнайзручніше дістатися.
