.page-header
  %h2 Сім простих кроків бронювання квитків:
%ul.unstyled
  %li КРОК 1. Вводите вхідні дані в систему і обираєте один або декілька варіантів проїзду, які відповідають Вашим вимогам.
  %li КРОК 2. Надсилаєте нам запит із Вашими координатами (запит носить попередній характер, паспортні дані у формі заявки вносити обов’язково).
  %li КРОК 3. Отримуєте інформацію від нашого менеджера про наявність вільних місць за Вашим запитом.
  %li КРОК 4. Остаточно підтверджуєте і оплачуєте вартість квитків.
  %li КРОК 5. Передаєте (за необхідності) в наш офіс документи для оформлення віз (особисто, поштою, кур’єром).
  %li КРОК 6. Отримуєте квитки і супровідні документи будь-яким зручним для Вас способом (в офісі, поштою, кур’єром)
  %li і
  %li КРОК 7. Подорожуєте на обраний Вами курорт!


%p
  %b Запитуйте також про пакетні тури (проїзд + проживання) на напрямки Болгарія, Україна, Хорватія та Чорногорія і ми допоможемо Вам обрати найоптимальніший варіант літнього відпочинку!