.row
  .span12{ :class => "pagination-centered" }
    .quake-slider
      .quake-slider-images
        %a{:href => "http://www.egrappler.com/free-premium-website-template-clean-business/", :target => "_blank"}
          %img{:alt => "Clean Business Free Business Website Premium Template", :src => "../assets/1.jpg"}/
        %a{:href => "http://www.egrappler.com/free-premium-html-adminbackend-template-for-web-applications-bluewhale-admin/", :target => "_blank"}
          %img{:alt => "Free Premium HTML Admin/Backend Template for Web Applications", :src => "../assets/2.jpg"}/
        %a{:href => "http://www.egrappler.com/free-html-jquery-portfolio-template-mni-html-vcard/", :target => "_blank"}
          %img{:alt => "Free HTML jQuery Portfolio Template", :src => "../assets/3.jpg"}/
        %a{:href => "http://www.egrappler.com/jquery-clean-and-simple-tooltips-gips/", :target => "_blank"}
          %img{:alt => "jQuery Clean and Simple Tooltips Plugin", :src => "../assets/4.jpg"}/
        %a{:href => "http://www.egrappler.com/jquery-plugin-for-on-demand-search-box-seacrhmeme/", :target => "_blank"}
          %img{:alt => "jQuery Plugin for On Demand Search Box", :src => "../assets/5.jpg"}/
        %a{:href => "http://www.egrappler.com/multi-level-hierarchical-jquery-menu-jqsimplemenu/", :target => "_blank"}
          %img{:alt => "Multi Level Hierarchical jQuery Menu", :src => "../assets/6.jpg"}/
        %a{:href => "http://www.egrappler.com/xml-driven-vertical-news-scroller-script-using-html-and-jquery-vscroller/", :target => "_blank"}
          %img{:alt => "XML Driven Vertical New Scroller Script Using HTML and jQuery", :src => "../assets/9.jpg"}/
        %a{:href => "http://www.egrappler.com/jquery-spin-button-plugin-smart-spin/", :target => "_blank"}
          %img{:alt => "jQuery Spin Button Control Plugin", :src => "../assets/16.jpg"}/
      .quake-slider-captions
        .quake-slider-caption
          Clean Business,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/free-premium-website-template-clean-business/", :target => "_blank"}
              Premium HTML Template.
          A Free Business Website Template.
        .quake-slider-caption
          BlueWhale Admin,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/free-premium-html-adminbackend-template-for-web-applications-bluewhale-admin/", :target => "_blank"}
              Premium HTML Admin Template.
          Free Premium Admin Template.
        .quake-slider-caption
          SearchMeme,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/jquery-plugin-for-on-demand-search-box-seacrhmeme/", :target => "_blank"}
              Fancy Search Box.
          jQuery Plugin for On Demand Search Box.
        .quake-slider-caption
          VScroller,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/xml-driven-vertical-news-scroller-script-using-html-and-jquery-vscroller/", :target => "_blank"}
              New Scroller.
          XML Driven Vertical New Scroller Script Using HTML
          and jQuery.
        .quake-slider-caption
          SmartValidate,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/jquery-credit-card-validation-plugin-smart-validate/", :target => "_blank"}
              Credit Card Validator.
          jQuery Credit Card Validation Plugin.
        .quake-slider-caption
          Carousel,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/jquery-contentthumbnail-slder-v2-0-jscarousel-v2-0/", :target => "_blank"}
              Content Slider.
          jQuery Content/Thumbnail Carousel Slider Plugin.
        .quake-slider-caption
          dNews,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/rss-driven-dynamic-jquery-news-slider-plugin-dynamic-news/", :target => "_blank"}
              News Slider.
          RSS Driven Dynamic jQuery News Slider Plugin.
        .quake-slider-caption
          SmartPaginator,
          %span.quake-highlight
            %a{:href => "http://www.egrappler.com/jquery-pagination-plugin-smart-paginator/", :target => "_blank"}
              Pagination Plugin.
          jQuery Pagination Plugin.
    .push25
    .push25
    .well
      %h1= link_to "Знайти більше турів", search_tickets_path 