.modal-header
  %a.close{data:{dismiss:"modal"}} ×
  %h3 
    = ticket.carrier.name
.modal-body
  .row-fluid.book
    .span4
      hjghrej
    .span8
      gr
.modal-footer
  %a.btn{data: {dismiss: "modal"}} Close