

%table
  %tr
    %th Перевізник
    %th Міста по маршруту
    %th Дати туру


  - @tickets.each do |ticket|
    %tr
      %td= ticket.carrier.name
      %td= ticket.ways.where(:direction => true).map(&:city_id) * ', '
      %td= ticket.departure_dates.map(&:day_of_life) * ', '

