%tr.departures_fields
  %td
    = f.check_box :direction
  %td
    = f.text_field :trip_number
  %td
    = f.select :departure_date_id, dates, :prompt => ''
  %td
    = link_to_remove_fields "Видалити", f, :departures