/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require bootstrap.min
*/

body {
  padding-top: 70px;
}

@media (min-width: 768px) and (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
.footer {
  border-radius: 4px 4px 0 0;
  position: fixed;
  bottom: 0px;
  z-index: 1030;
  display: block;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  padding: 6px;
  margin: 0;
}